---
import Layout from "../layouts/Layout.astro";
import Newsletter from "../components/Newsletter.astro";
---

<Layout>
 <section class="banner">
<img src="/img/casestudyBanner.png" alt="Banner">
</section>   

<section class="study">
    <img class="computer" src="/public/img/computer.png" alt="Computer">
    <div class="case">
        <div class="stat">
        <h4>Case Name</h4>
        <p>Taxes & Efficency</p>
        </div>
    <div class="stat">
        <h4>Category</h4>
        <p>Business</p>
        </div>
    <div class="stat">
        <h4>Date</h4>
        <p>27th September 2025</p>
        </div>
        <button>Live Preview</button>
    </div>
</section>
<section class="textPart">
    <div class="overview">
        <h1>Project Overview</h1>
        <p>Carrying out a major operational study allowed us to elevate data handling and streamline core tasks. By engaging each department thoroughly, we minimized wasted energy and promoted transparent communication. These changes empower the workforce to address key goals efficiently while boosting productivity. Advanced resources drive sustained innovation. Frequent reviews keep teams aligned with strategic objectives</p>
        <ul>
            <li>It brings the right people together with all the right information and tools to get work done</li>
            <li>We provide operational efficiency, data security, and flexible scale</li>
            <li>Your best work, together in one package that works seamlessly from your computer</li>
            <li>Delivers the tools you need to save time Improve field performance always</li>
        </ul>
    </div>
    <div class="storyboard">
        <h3>Storyboard</h3>
        <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holistically predominate extensible testing procedures for reliable supply chains.</p>
        <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products completely pursue scalable customer service.</p>
        <img src="/public/img/case.png" alt="Working">
    </div>
    <div class="results">
        <h3>Project result</h3>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
    </div>
</section>
<Newsletter class="newsletter"/>


</Layout>

<style>
    
    @layer components {

    
    .banner {
        grid-column: full;
    }

    .textPart {
        grid-column: content;
        padding-top: 2rem;
    }
    .study {
        grid-column: content;
        padding-top: 3rem;
    }
    .case {
        grid-column: content;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--primary03);
        color: var(--secondary02);
        border-radius: 1rem;
        width: 55vw;
    }
    .newsletter {
    grid-column: content;
    align-self: start;
}

.overview {
    padding-top: 2;
}

}
</style>