---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import Experience from "../components/Experience.astro";
import CoreValues from "../components/CoreValues.astro";
import Newsletter from "../components/Newsletter.astro";

let coreValuesData = { values: [] };

try {
  const res = await fetch("https://frontend-design-theme.netlify.app/api/coreValues");
  coreValuesData = await res.json();
} catch (error) {
  console.error("Failed to fetch core values data:", error);
}
---

<Layout>

  <Hero />
  <Services />
  <section class="whattoexpect">
    <div>
  <figure class="figure-people">
    <img class="people" src="/img/whattoexpect.png" alt="People">
  </figure>
  </div>
  <div>
  <p class="yellow">WE'LL WORK WITH YOU</p>
  <h3>What To Expect</h3>
  <p class="grey">Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals.</p>
  <ul>
    <li>Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.</li>
    <li>Identify opportunities to optimize processes and implement impactful solutions with measurable results.</li>
  </ul>
  </div>
</section>
<ScrollingContainer />
<Experience />
<CoreValues coreValuesData={coreValuesData} theme="dark" />

<section class="contactUs">
<div class="contactInfo">
  <p class="yellow">PROCESS</p>
  <h3>Contact Us. It's Easy.</h3>
  <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
  <div class="infoBlock">
  <img src="/icons/phone.svg" alt="Phone">
  <div class="infoText">
  <p>Call Today</p>
  <h5>+1 800 100 900</h5>
</div>
</div>
  <div class="infoBlock">
  <img src="/icons/clock.svg" alt="Clock">
  <div class="infoText">
  <p>Monday To Friday</p>
  <h5>9AM - 5PM</h5>
</div>
</div>
  <div class="infoBlock">
  <img src="/icons/pin.svg" alt="Pin">
  <div class="infoText">
  <p>USA Office</p>
  <h5>195 Devonshire St Boston, MA 02110</h5>
</div>
</div>
</div>
<div class="pics">
    <img class="onePerson" src="/img/lady.png" alt="Lady">
    <img class="more" src="/img/more.png" alt="Two ladies talking">
  <img class="hands" src="/img/hands.png" alt="Hands gesturing">
</div>
</section>
<Newsletter />

</Layout>

<style>
@layer component {

  h3 {
    font-family: var(--font-family-header);
  }
  .whattoexpect {
    grid-column: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
  .figure-people::before {
    content: '';
    background: #4EAF4E;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;
    border-radius: 9px;
  }

  .figure-people::after {
      content: '';
    background: url(/public/img/Pattern.png);
    height: 200px;
    width: 200px;
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: -2;
    }

.people {
  inline-size: 100%;
  display: block;
  border-radius: 9px;
}

.whattoexpect > div {
  max-width: 100%;
}

.yellow {
  background-color: var(--primary01);
  border-radius: 9px;
  width: fit-content;
  font-size: 0.75rem;
  font-family: var(--font-family-lato);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

ul {
  display: grid;
  gap: 1rem;
  line-height: 1.5;
  padding-left: 0;
}

li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 1rem;
  color: #595566;
}

li:before {
  content: '';
  width: 1.6rem;
  height: 1lh;
  background: var(--checkmark-icon) 50% 50% / 100% auto no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
}

.contactUs {
  grid-column: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.infoBlock {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
p {
  font-family: var(--font-family-lato);
  color: #595566;
  font-size: 0.75rem;
}
.infoText {
  display: flex;
  flex-direction: column;
}
.figure-onePerson::after {
  content: none; 
}

.figure-more::before {
  content: none; 
}

.pics {
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
    gap: 0.5rem;
}

.onePerson {
  grid-area: a;
  object-fit: contain;
  height: 100%;
}

.more {
  grid-area: b;
  object-fit: contain;
  border-radius: 15px;
  width: 100%; 
    max-width: 100%;
}

.hands {
  grid-area: c;
  object-fit: contain;
  border-radius: 15px;
  margin: 0; 
  padding: 0;
}

h3 {
  font-family: var(--font-family-header);
  font-size: 1.5rem;
}
h4 {
  font-family: var(--font-family-header);
  font-weight: 600;
}

.grey {
  color: #595566;
}

}
@layer overrides {
 
}

</style>
