---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import Experience from "../components/Experience.astro";
import CoreValues from "../components/CoreValues.astro";

const coreValuesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/coreValues"
).then((response) => response.json());
---

<Layout>

  <Hero />
  <Services />
  <section class="whattoexpect">
    <div>
  <figure>
    <img class="people" src="/public/img/whattoexpect.png" alt="People">
  </figure>
  </div>
  <div>
  <p class="yellow">WE'LL WORK WITH YOU</p>
  <h3>What To Expect</h3>
  <p>Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals.</p>
  <ul>
    <li>Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.</li>
    <li>Identify opportunities to optimize processes and implement impactful solutions with measurable results.</li>
  </ul>
  </div>
</section>
<ScrollingContainer />
<Experience />
<CoreValues coreValuesData={coreValuesData} theme="light" />
</Layout>

<style>
@layer component {
  .whattoexpect {
    grid-column: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
figure {
  position: relative;
  width: 100%;
  margin: 0;
  
  &::before {
    content: '';
    background: #4EAF4E;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;
    border-radius: 9px;
  }

  &::after {
      content: '';
    background: url(/public/img/Pattern.png);
    height: 200px;
    width: 200px;
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: -2;
    }
}
.people {
  inline-size: 100%;
  display: block;
  border-radius: 9px;
}

.whattoexpect > div {
  max-width: 100%;
}

.yellow {
  background-color: #FFCC4A;
  border-radius: 9px;
  display: inline-block;
}

ul {
  display: grid;
  gap: 1rem;
  line-height: 1.5;
  padding-left: 0;
}

li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 1rem;
  color: #595566;
}

li:before {
  content: '';
  width: 1.6rem;
  height: 1lh;
  background: var(--checkmark-icon) 50% 50% / 100% auto no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
}
}
</style>
