<div class="footer-content">
    <img src="/public/img/AskExperts.png" alt="Logo">
    <p>___________________________________________________________________________________________________</p>
    <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</div>

<style>
    .footer-content {
        color: var(--secondary02);
        grid-column: content;
        color: var(--secondary02);
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        text-align: center;
        padding: 1rem;

        p {
            padding: 0.5rem;
        }
    }  
</style>