---
import Services from "./Services.astro";
---

<section class="hero">
  <div class="left">
  <img class="pattern" src="/img/Pattern.png" alt="Mønster">
  <div class="hero-content">
  <h2>Empowering Your <br> Business Growth</h2>
  <p>Discover tailored strategies and expert insights to take your business to the next level. Let us help you navigate challenges and achieve sustainable success.</p>
  <button type="submit">Book a Meeting</button>
 </div>
</div>
  <img class="right" src="/img/Photo.png" alt="Kvinde">
</section>

<style>
  @layer components {

    .hero h2 {
      font-family: var(--font-family-header) !important;
      font-size: 1.75rem;
      font-weight: 550;
    }
  .hero {
    grid-column: full;
    background-color: var(--primary03);
    display: grid;
    grid-template-columns: 1fr 1fr;  
    align-items: center;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .left {
    grid-column: 1 / 2;
    color: var(--secondary02);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    overflow: hidden;
  }

  .pattern {
    transform: rotate(90deg); 
    width: 8rem; 
    height: auto;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--secondary02);
    max-width: 55ch;
    padding: 3rem;
    position: relative;
    letter-spacing:0.1ch;
  }

  .hero-content p {
    color: var(--secondary02);
    font-family: var(--font-family-lato);
    font-size: 0.75em;
    line-height: 1.2;
  }
  .right {
    grid-column: 2 / 3;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  button {
    background-color: var(--secondary02);
    border-radius: 19px;
    padding: 9px;
    color: var(--primary03);
    width: fit-content;
  }

  }

  @layer overrides {
    .hero {
      grid-template-columns: 1fr 1fr !important;
    }
  }
</style>
