---
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());
---

<ul>
  {
    servicesData.services.map((service) => (
      <li class="service-item">
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <a href="#0">{service.buttonText}</a>
      </li>
    ))
  }
</ul>

<style>
@layer components {

ul {
  grid-column: content; 
  list-style-type: none;
  display: grid;
  gap: 0.5rem;
  margin-inline: auto;
  padding: 1rlh;
  grid-template-columns: repeat(3, 1fr);
}

.service-item {
grid-row: span 3;
display: grid;
gap: 0;
grid-template-rows: subgrid;
border-radius: 20px;
background-color: #1B1B1BE8;
padding: 2rem;
position: relative;
z-index: 2;
}
.service-item h2 {
  color: var(--secondary02);
}


}
</style>
